<?xml version="1.0"?>
<!--
/**
 * Novalnet Subscription extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Novalnet End User License Agreement
 * that is bundled with this package in the file LICENSE.txt
 *
 * DISCLAIMER
 *
 * If you wish to customize Novalnet Subscription extension for your needs,
 * please contact technic@novalnet.de for more information.
 *
 * @category   Novalnet
 * @package    Novalnet_Subscription
 * @copyright  Copyright (c) Novalnet AG
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_product_add_after">
        <observer name="set_recurring_profile_billing_amount" instance="Novalnet\Subscription\Observer\ReorderProcess"/>
    </event>
    <event name="catalog_product_load_after">
        <observer name="set_recurring_profile_details" instance="Novalnet\Subscription\Observer\SetAdditionalOptions"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="recurring_profile_save_before" instance="Novalnet\Subscription\Observer\SerializedProfiles" />
    </event>
        <event name="sales_order_invoice_pay">
        <observer name="novalnet_subscription_invoice_mail" instance="Novalnet\Subscription\Observer\ProcessCaptureAction" />
    </event>
    <event name="sales_order_payment_void">
        <observer name="novalnet_subscription_void_status" instance="Novalnet\Subscription\Observer\SetVoidStatus" />
    </event>
    <event name="order_cancel_after">
        <observer name="novalnet_subscription_cancel_status" instance="Novalnet\Subscription\Observer\SetCancelStatus" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="novalnet_catalog_product_save_after" instance="Novalnet\Subscription\Observer\ProductSaveAfter" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="novalnet_subscription_svae_recurring_profile" instance="Novalnet\Subscription\Observer\SaveSubscriptionItems" />
    </event>
</config>
